h3,
.h3 {
  margin-bottom: 17px;
}

.fr {
  float: right;
}

.f17 {
  font-size: 17px;
}

.zi1{
  z-index: 1;
}

.modal-backdrop.show {
  opacity: 0.66;
}

.righteous {
  font-family: "Righteous", cursive;
}

.cutivemono {
  font-family: "Cutive Mono", monospace;
}
a.profilemenu {
  color: #130000 !important;
}

.hidden {
  display: none;
}

.mb0 {
  margin-bottom: 0;
}

.jc-e {
  justify-content: end;
}

.profilename {
  display: inline;
  margin-left: 4px;
  margin-right: 46px;
}

#navbar li.direction {
  display: flex;
  justify-content: center;
}

.sidebar .nav li > a,
.off-canvas-sidebar .nav li > a {
  font-size: 0.72475rem;
}

.fixed-plugin {
  top: 77px;
  width: 100px;
  padding: 3px;
  position: absolute;
}

span.gamename {
  color: #1d1e2e;
  position: absolute;
  top: 40px;
  left: 96px;
  font-family: "Righteous", cursive;
  font-size: 13px;
}

.form-group .form-control,
.input-group .form-control {
  padding: 8px 18px 8px 12px;
}

select.form-control option {
  height: calc(2.25rem + 2px);
  padding: 0.5rem 0.7rem;
  font-size: 0.875rem;
  line-height: 1.42857;
  color: white;
  background-color: rgb(40, 41, 61);
  background-clip: padding-box;
  border: 1px solid #cad1d7;
}

.table-responsive {
  overflow: hidden;
}

tr.bettingtablerow:hover {
  cursor: pointer;
}

tr.monthtablerow {
  background: #476322;
}

.betmodal-content div.modal-content {
  background-color: #35302e;
}

.betmodal-content span.doublescore {
  color: #19dc43;
  font-style: italic;
}

.betmodal-content div.modal-body {
  padding: 20px 15px 20px 15px;
}

.betmodal-content .modal-body p,
.betmodal-content .modal-body h1,
.betmodal-content .modal-body h2,
.betmodal-content .modal-body h4,
.betmodal-content input {
  color: white;
}

.betmodal-content .modal-header .modal-title {
  color: white;
}

.betmodal-content div.card {
  background-color: #35302e;
  box-shadow: none;
  margin-bottom: 0;
}

.betmodal-content .card .card-body {
  padding: 5px;
}

.betmodal-content span.form-check-sign {
  font-family: Arial, Helvetica, sans-serif;
}

.betmodal-content input {
  max-width: 120px;
  font-size: 16px;
  text-align: center;
}

.betmodal-content .betpointpanel {
  margin-top: 10px;
}

.betmodal-content .modal-footer {
  width: 100%;
}

.betmodal-content .form-inline .form-check {
  justify-content: end;
  margin-left: 10px;
}

.mybets .matchdateinfo {
  display: block;
  font-size: 10px;
  text-transform: lowercase;
  font-style: italic;
}

.mybets span.doublescore {
  color: #19dc43;
}

.mybets .successtext {
  color: rgba(79, 255, 95, 0.7) !important;
}

.mybets span.processing {
  font-size: 13px;
}

.mybets span.failicon svg {
  color: #ca1c1c;
}

.mybets .failtext {
  color: rgb(230, 90, 90) !important;
}

tr.theadrow {
  padding: 3px;
}

tr.theadrow > td {
  padding: 3px 6px !important;
}

.mytippspan {
  color: #339845;
  font-size: 10px;
  position: absolute;
  top: 1px;
}

.colorwhite {
  color: white;
}

.react-confirm-alert-body h1 {
  color: black;
}

.form-inline .form-group {
  justify-content: center;
}

p.odds {
  margin-top: -10px;
}

span.favoriteteamspan {
  font-size: 10px;
  color: red;
}

div.runmatchchip {
  height: 18px;
  background-color: #ff0000;
}

div.runmatchchip span {
  font-size: 12px;
}

.linethrough {
  text-decoration: line-through;
}

tr.endmatch span {
  font-size: 10px;
}

tr.runmatch {
  background-color: #c50000a3;
}

tr.runmatch a {
  color: #00f56d;
  font-weight: 400;
}

span.footballicon svg {
  height: 10px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.mybets span.footballicon svg {
  height: 12px;
  margin-bottom: 2px;
  margin-right: 2px;
  color: #e2b22b;
}

.profile li.widgetdesc {
  width: 31.5%;
  display: inline-block;
  padding: 0;
}

.profile .card-user .avatar {
  border: 0;
}

.avatarModal .modal-content .modal-footer {
  justify-content: space-between;
}

.avatarModal .modal-content {
  background-color: #35302e;
  border: 1px solid #774747;
}

.avatarModal .modal-content .modal-header .modal-title {
  color: #fdfdfd;
}

.avatarModal .modal-footer button {
  color: #fff;
  background-color: #3f51b5;
}

@media only screen and (max-width: 600px) {
  h3,
  .h3 {
    font-size: 1rem;
  }
  p.profilename {
    display: none !important;
  }
  p.odds {
    font-size: 0.7rem;
    margin-top: -10px;
  }
  table.tablesorter {
    font-size: smaller;
    overflow-x: scroll;
  }
  .tablesorter {
    font-size: smaller;
  }
  .betmodal-content input {
    margin: 0 auto;
  }
  div.runmatchchip {
    height: 15px;
  }
  div.runmatchchip span {
    font-size: 10px;
  }
}
