h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: rgba(248, 248, 248, 0.8);
}

.loginalert{
  max-width: 300px;
  font-size: 12px;
  background-color: #e41818 !important;
  text-align: center;
  padding: 6px;
}

button.loginbtn{
  background: #6592cb;
}

button.loginbtn:hover{
  background: #3886e8;
}

.loginContainer{
    background: rgba(0, 0, 0, 0.77);
    padding: 22px;
    position: absolute;
    top:15%;
}

.loginContainer input, .loginContainer input:focus{
    color: white;
    background-color: #618135;
    border-color: aliceblue;
    border-radius: 0;
    border-bottom: 1;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    font-size: 1em;
}

.loginContainer input::-webkit-input-placeholder { /* Edge */
    color: white;
  }
  
  .loginContainer input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  .loginContainer input::placeholder {
    color: white;
  }

  @media only screen and (min-width: 300px) {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
      color: rgba(33, 30, 30, 0.8);
    }
    .loginContainer form{
      min-width: 270px;
    }
  }